<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.swpu.met.stuteam.mapper.OrdertableMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.swpu.met.stuteam.pojo.Ordertable" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="tableType" property="tabletype" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="userType" property="usertype" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="appointmentTime" property="appointmenttime" jdbcType="TIMESTAMP" />
    <result column="userPhone" property="userphone" jdbcType="VARCHAR" />
    <result column="station" property="station" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="startname" property="startname" jdbcType="VARCHAR" />
    <result column="startNameString" property="startnamestring" jdbcType="VARCHAR" />
    <result column="endName" property="endname" jdbcType="VARCHAR" />
    <result column="chudanren" property="chudanren" jdbcType="VARCHAR" />
    <result column="chudanname" property="chudanname" jdbcType="VARCHAR" />
    <result column="chudandate" property="chudandate" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="solve" property="solve" jdbcType="VARCHAR" />
    <result column="duankou" property="duankou" jdbcType="INTEGER" />
    <result column="mianban" property="mianban" jdbcType="INTEGER" />
    <result column="shuijingtou" property="shuijingtou" jdbcType="INTEGER" />
    <result column="wangxian" property="wangxian" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="changeDate" property="changedate" jdbcType="TIMESTAMP" />
    <result column="changeBy" property="changeby" jdbcType="VARCHAR" />
    <result column="changeNameString" property="changenamestring" jdbcType="VARCHAR" />
    <result column="recordMan" property="recordman" jdbcType="VARCHAR" />
    <result column="recordName" property="recordname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, startTime, tableType, address, userType, userName, appointmentTime, userPhone, 
    station, description, startname, startNameString, endName, chudanren, chudanname, 
    chudandate, endTime, reason, solve, duankou, mianban, shuijingtou, wangxian, remark, 
    changeDate, changeBy, changeNameString, recordMan, recordName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.swpu.met.stuteam.pojo.OrdertableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ordertable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ordertable
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ordertable
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.swpu.met.stuteam.pojo.OrdertableExample" >
    delete from ordertable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.swpu.met.stuteam.pojo.Ordertable" >
    insert into ordertable (id, startTime, tableType, 
      address, userType, userName, 
      appointmentTime, userPhone, station, 
      description, startname, startNameString, 
      endName, chudanren, chudanname, 
      chudandate, endTime, reason, 
      solve, duankou, mianban, 
      shuijingtou, wangxian, remark, 
      changeDate, changeBy, changeNameString, 
      recordMan, recordName)
    values (#{id,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{tabletype,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{appointmenttime,jdbcType=TIMESTAMP}, #{userphone,jdbcType=VARCHAR}, #{station,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{startname,jdbcType=VARCHAR}, #{startnamestring,jdbcType=VARCHAR}, 
      #{endname,jdbcType=VARCHAR}, #{chudanren,jdbcType=VARCHAR}, #{chudanname,jdbcType=VARCHAR}, 
      #{chudandate,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, 
      #{solve,jdbcType=VARCHAR}, #{duankou,jdbcType=INTEGER}, #{mianban,jdbcType=INTEGER}, 
      #{shuijingtou,jdbcType=INTEGER}, #{wangxian,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{changedate,jdbcType=TIMESTAMP}, #{changeby,jdbcType=VARCHAR}, #{changenamestring,jdbcType=VARCHAR}, 
      #{recordman,jdbcType=VARCHAR}, #{recordname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.swpu.met.stuteam.pojo.Ordertable" >
    insert into ordertable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="tabletype != null" >
        tableType,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="usertype != null" >
        userType,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="appointmenttime != null" >
        appointmentTime,
      </if>
      <if test="userphone != null" >
        userPhone,
      </if>
      <if test="station != null" >
        station,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="startname != null" >
        startname,
      </if>
      <if test="startnamestring != null" >
        startNameString,
      </if>
      <if test="endname != null" >
        endName,
      </if>
      <if test="chudanren != null" >
        chudanren,
      </if>
      <if test="chudanname != null" >
        chudanname,
      </if>
      <if test="chudandate != null" >
        chudandate,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="solve != null" >
        solve,
      </if>
      <if test="duankou != null" >
        duankou,
      </if>
      <if test="mianban != null" >
        mianban,
      </if>
      <if test="shuijingtou != null" >
        shuijingtou,
      </if>
      <if test="wangxian != null" >
        wangxian,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="changedate != null" >
        changeDate,
      </if>
      <if test="changeby != null" >
        changeBy,
      </if>
      <if test="changenamestring != null" >
        changeNameString,
      </if>
      <if test="recordman != null" >
        recordMan,
      </if>
      <if test="recordname != null" >
        recordName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabletype != null" >
        #{tabletype,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="appointmenttime != null" >
        #{appointmenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="userphone != null" >
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        #{station,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="startname != null" >
        #{startname,jdbcType=VARCHAR},
      </if>
      <if test="startnamestring != null" >
        #{startnamestring,jdbcType=VARCHAR},
      </if>
      <if test="endname != null" >
        #{endname,jdbcType=VARCHAR},
      </if>
      <if test="chudanren != null" >
        #{chudanren,jdbcType=VARCHAR},
      </if>
      <if test="chudanname != null" >
        #{chudanname,jdbcType=VARCHAR},
      </if>
      <if test="chudandate != null" >
        #{chudandate,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="solve != null" >
        #{solve,jdbcType=VARCHAR},
      </if>
      <if test="duankou != null" >
        #{duankou,jdbcType=INTEGER},
      </if>
      <if test="mianban != null" >
        #{mianban,jdbcType=INTEGER},
      </if>
      <if test="shuijingtou != null" >
        #{shuijingtou,jdbcType=INTEGER},
      </if>
      <if test="wangxian != null" >
        #{wangxian,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="changedate != null" >
        #{changedate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeby != null" >
        #{changeby,jdbcType=VARCHAR},
      </if>
      <if test="changenamestring != null" >
        #{changenamestring,jdbcType=VARCHAR},
      </if>
      <if test="recordman != null" >
        #{recordman,jdbcType=VARCHAR},
      </if>
      <if test="recordname != null" >
        #{recordname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.swpu.met.stuteam.pojo.OrdertableExample" resultType="java.lang.Integer" >
    select count(*) from ordertable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ordertable
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tabletype != null" >
        tableType = #{record.tabletype,jdbcType=INTEGER},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.usertype != null" >
        userType = #{record.usertype,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.appointmenttime != null" >
        appointmentTime = #{record.appointmenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userphone != null" >
        userPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.station != null" >
        station = #{record.station,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.startname != null" >
        startname = #{record.startname,jdbcType=VARCHAR},
      </if>
      <if test="record.startnamestring != null" >
        startNameString = #{record.startnamestring,jdbcType=VARCHAR},
      </if>
      <if test="record.endname != null" >
        endName = #{record.endname,jdbcType=VARCHAR},
      </if>
      <if test="record.chudanren != null" >
        chudanren = #{record.chudanren,jdbcType=VARCHAR},
      </if>
      <if test="record.chudanname != null" >
        chudanname = #{record.chudanname,jdbcType=VARCHAR},
      </if>
      <if test="record.chudandate != null" >
        chudandate = #{record.chudandate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null" >
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.solve != null" >
        solve = #{record.solve,jdbcType=VARCHAR},
      </if>
      <if test="record.duankou != null" >
        duankou = #{record.duankou,jdbcType=INTEGER},
      </if>
      <if test="record.mianban != null" >
        mianban = #{record.mianban,jdbcType=INTEGER},
      </if>
      <if test="record.shuijingtou != null" >
        shuijingtou = #{record.shuijingtou,jdbcType=INTEGER},
      </if>
      <if test="record.wangxian != null" >
        wangxian = #{record.wangxian,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.changedate != null" >
        changeDate = #{record.changedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeby != null" >
        changeBy = #{record.changeby,jdbcType=VARCHAR},
      </if>
      <if test="record.changenamestring != null" >
        changeNameString = #{record.changenamestring,jdbcType=VARCHAR},
      </if>
      <if test="record.recordman != null" >
        recordMan = #{record.recordman,jdbcType=VARCHAR},
      </if>
      <if test="record.recordname != null" >
        recordName = #{record.recordname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ordertable
    set id = #{record.id,jdbcType=VARCHAR},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      tableType = #{record.tabletype,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      userType = #{record.usertype,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      appointmentTime = #{record.appointmenttime,jdbcType=TIMESTAMP},
      userPhone = #{record.userphone,jdbcType=VARCHAR},
      station = #{record.station,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      startname = #{record.startname,jdbcType=VARCHAR},
      startNameString = #{record.startnamestring,jdbcType=VARCHAR},
      endName = #{record.endname,jdbcType=VARCHAR},
      chudanren = #{record.chudanren,jdbcType=VARCHAR},
      chudanname = #{record.chudanname,jdbcType=VARCHAR},
      chudandate = #{record.chudandate,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      solve = #{record.solve,jdbcType=VARCHAR},
      duankou = #{record.duankou,jdbcType=INTEGER},
      mianban = #{record.mianban,jdbcType=INTEGER},
      shuijingtou = #{record.shuijingtou,jdbcType=INTEGER},
      wangxian = #{record.wangxian,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      changeDate = #{record.changedate,jdbcType=TIMESTAMP},
      changeBy = #{record.changeby,jdbcType=VARCHAR},
      changeNameString = #{record.changenamestring,jdbcType=VARCHAR},
      recordMan = #{record.recordman,jdbcType=VARCHAR},
      recordName = #{record.recordname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.swpu.met.stuteam.pojo.Ordertable" >
    update ordertable
    <set >
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabletype != null" >
        tableType = #{tabletype,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        userType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="appointmenttime != null" >
        appointmentTime = #{appointmenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="userphone != null" >
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        station = #{station,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="startname != null" >
        startname = #{startname,jdbcType=VARCHAR},
      </if>
      <if test="startnamestring != null" >
        startNameString = #{startnamestring,jdbcType=VARCHAR},
      </if>
      <if test="endname != null" >
        endName = #{endname,jdbcType=VARCHAR},
      </if>
      <if test="chudanren != null" >
        chudanren = #{chudanren,jdbcType=VARCHAR},
      </if>
      <if test="chudanname != null" >
        chudanname = #{chudanname,jdbcType=VARCHAR},
      </if>
      <if test="chudandate != null" >
        chudandate = #{chudandate,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="solve != null" >
        solve = #{solve,jdbcType=VARCHAR},
      </if>
      <if test="duankou != null" >
        duankou = #{duankou,jdbcType=INTEGER},
      </if>
      <if test="mianban != null" >
        mianban = #{mianban,jdbcType=INTEGER},
      </if>
      <if test="shuijingtou != null" >
        shuijingtou = #{shuijingtou,jdbcType=INTEGER},
      </if>
      <if test="wangxian != null" >
        wangxian = #{wangxian,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="changedate != null" >
        changeDate = #{changedate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeby != null" >
        changeBy = #{changeby,jdbcType=VARCHAR},
      </if>
      <if test="changenamestring != null" >
        changeNameString = #{changenamestring,jdbcType=VARCHAR},
      </if>
      <if test="recordman != null" >
        recordMan = #{recordman,jdbcType=VARCHAR},
      </if>
      <if test="recordname != null" >
        recordName = #{recordname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.swpu.met.stuteam.pojo.Ordertable" >
    update ordertable
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      tableType = #{tabletype,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      appointmentTime = #{appointmenttime,jdbcType=TIMESTAMP},
      userPhone = #{userphone,jdbcType=VARCHAR},
      station = #{station,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      startname = #{startname,jdbcType=VARCHAR},
      startNameString = #{startnamestring,jdbcType=VARCHAR},
      endName = #{endname,jdbcType=VARCHAR},
      chudanren = #{chudanren,jdbcType=VARCHAR},
      chudanname = #{chudanname,jdbcType=VARCHAR},
      chudandate = #{chudandate,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      solve = #{solve,jdbcType=VARCHAR},
      duankou = #{duankou,jdbcType=INTEGER},
      mianban = #{mianban,jdbcType=INTEGER},
      shuijingtou = #{shuijingtou,jdbcType=INTEGER},
      wangxian = #{wangxian,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      changeDate = #{changedate,jdbcType=TIMESTAMP},
      changeBy = #{changeby,jdbcType=VARCHAR},
      changeNameString = #{changenamestring,jdbcType=VARCHAR},
      recordMan = #{recordman,jdbcType=VARCHAR},
      recordName = #{recordname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
      	<!--   分页查询 -->
   <select id="selectPageByQueryVo"  parameterType="QueryOrderVo" resultType="cn.edu.swpu.met.stuteam.pojo.Ordertable">
  	select 
    	<include refid="Base_Column_List" />
    from ordertable
    <where>
      <if test="id != null and id != ''" >
       	id like "%"#{id}"%"
      </if>
   	  <if test="tabletype != null and tabletype != ''" >
        tableType = #{tabletype,jdbcType=INTEGER},
      </if>
      <if test="address != null and address != ''" >
        address like "%"#{address,jdbcType=VARCHAR}"%"
      </if>
      <if test="usertype != null and usertype != ''" >
        userType = #{usertype,jdbcType=INTEGER}
      </if>
      <if test="username != null and username != ''" >
        userName like "%"#{username,jdbcType=VARCHAR}"%"
      </if>
      <if test="appointmenttime != null and appointmenttime != ''" >
        appointmentTime like "%"#{appointmenttime,jdbcType=TIMESTAMP}"%"
      </if>
      <if test="userphone != null and userphone != ''" >
        userPhone like "%"#{userphone,jdbcType=VARCHAR}"%"
      </if>
      <if test="station != null and station != ''" >
        station = #{station,jdbcType=INTEGER}
      </if>
      <if test="description != null and description != ''" >
        description like "%"#{description,jdbcType=VARCHAR}"%"
      </if>
      <if test="startname != null and startname != ''" >
        startName like "%"#{startname,jdbcType=VARCHAR}"%"
      </if>
      <if test="startNameString != null and startNameString != ''" >
        startNameString like "%"#{startNameString,jdbcType=VARCHAR}"%"
      </if>
      <if test="recordName != null and recordName != ''" >
        recordName like "%"#{recordName,jdbcType=VARCHAR}"%"
      </if>
      <if test="endname != null and endname != ''" >
        endName = "%"#{endname,jdbcType=VARCHAR}"%"
      </if>
      <if test="starttime != null and starttime != ''" >
        startTime like "%"#{starttime,jdbcType=TIMESTAMP}"%"
      </if>
      <if test="endtime != null and endtime != ''" >
        endTime like "%"#{endtime,jdbcType=TIMESTAMP}"%"
      </if>
      <if test="reason != null and reason != ''" >
        reason like "%"#{reason,jdbcType=VARCHAR}"%"
      </if>
      <if test="solve != null and solve != ''" >
        solve like "%"#{id}"%"#{solve,jdbcType=VARCHAR}
      </if>
      <if test="duankou != null and duankou != ''" >
        duankou = #{duankou,jdbcType=INTEGER}
      </if>
      <if test="mianban != null and mianban != ''" >
        mianban = #{mianban,jdbcType=INTEGER}
      </if>
      <if test="shuijingtou != null and shuijingtou != ''" >
        shuijingtou = #{shuijingtou,jdbcType=INTEGER}
      </if>
      <if test="wangxian != null and wangxian != ''" >
        wangxian = #{wangxian,jdbcType=INTEGER}
      </if>
      <if test="remark != null and remark != ''" >
        remark like "%"#{remark,jdbcType=VARCHAR}"%"
      </if>
      <if test="changedate != null and changedate != ''" >
        changeDate = "%"#{changedate,jdbcType=TIMESTAMP}"%"
      </if>
      <if test="changeby != null and changeby != ''" >
        changeBy like "%"#{changeby,jdbcType=VARCHAR}"%"
      </if>
    </where>
    	order by id DESC limit #{startRow},#{size}
  </select>
  
  
  <!--   分页查询未完工工单      关联派工人信息-->
    <resultMap id="BaseResultMap2" type="cn.edu.swpu.met.stuteam.pojo.Ordertable" >
    <id column="oid" property="id" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="tableType" property="tabletype" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="userType" property="usertype" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="appointmentTime" property="appointmenttime" jdbcType="TIMESTAMP" />
    <result column="userPhone" property="userphone" jdbcType="VARCHAR" />
    <result column="station" property="station" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="startname" property="startname" jdbcType="VARCHAR" />
    <result column="startNameString" property="startnamestring" jdbcType="VARCHAR" />
    <result column="endName" property="endname" jdbcType="VARCHAR" />
    <result column="chudanren" property="chudanren" jdbcType="VARCHAR" />
    <result column="chudanname" property="chudanname" jdbcType="VARCHAR" />
    <result column="chudandate" property="chudandate" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="solve" property="solve" jdbcType="VARCHAR" />
    <result column="duankou" property="duankou" jdbcType="INTEGER" />
    <result column="mianban" property="mianban" jdbcType="INTEGER" />
    <result column="shuijingtou" property="shuijingtou" jdbcType="INTEGER" />
    <result column="wangxian" property="wangxian" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="changeDate" property="changedate" jdbcType="TIMESTAMP" />
    <result column="oc" property="changeby" jdbcType="VARCHAR" />
    <result column="changeNameString" property="changenamestring" jdbcType="VARCHAR" />
    <association property="chudan" javaType="cn.edu.swpu.met.stuteam.pojo.Manage">
    	<id column="mid" property="id" jdbcType="VARCHAR" />
	    <result column="realName" property="realname" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="INTEGER" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
	    <result column="qq" property="qq" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
	    <result column="type" property="type" jdbcType="INTEGER" />
	    <result column="major" property="major" jdbcType="VARCHAR" />
	    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
	    <result column="lastLoginTime" property="lastlogintime" jdbcType="TIMESTAMP" />
	    <result column="changeTime" property="changetime" jdbcType="TIMESTAMP" />
	    <result column="mc" property="changeby" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  
  
	<!--   查询未完工工单 -->
   <select id="selectUnfishiOrderByLimit"  parameterType="QueryOrderVo" resultType="cn.edu.swpu.met.stuteam.pojo.Ordertable">
  	select 
    	<include refid="Base_Column_List" />
    from ordertable
    <where>
      station != 3
    </where>
    	limit #{startRow},#{size}
  </select>
  <!--   查询为完工工单   end-->
  
  
  
  <!-- 查询用户的信息 -->
  <resultMap id="BaseResultMap1" type="cn.edu.swpu.met.stuteam.pojo.Manage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="realName" property="realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="lastLoginTime" property="lastlogintime" jdbcType="TIMESTAMP" />
    <result column="changeTime" property="changetime" jdbcType="TIMESTAMP" />
    <result column="changeBy" property="changeby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List1" >
    id, realName, password, sex, phone, qq, address, idCard, type, major, createDate, 
    lastLoginTime, changeTime, changeBy
  </sql>
  <select id="selectManageByPrimaryKey" resultMap="BaseResultMap1" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List1" />
	    from manage
	    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 查询用户的信息  end-->
</mapper>